

.root{
    -fx-font-family: "Spartan";
}
.bubble-background{
	-fx-background-image: url("../assets/images/ee-bg.png");
	-fx-background-repeat: stretch;   
    -fx-background-size: 1280 720;
    -fx-background-position: center center;
}

.orange-clickable{
	-fx-background-color: #FF6A00;
	-fx-text-fill: #FFFFFF;
	-fx-font-size: 14px;
}
.orange-clickable:hover{
	-fx-background-color: #FF7B00;
	
}
.orange-clickable:pressed{
	-fx-background-color: #FF6600;
}

.tab{
	-fx-background-color: #FF6A00;
	-fx-text-fill: #FFFFFF;
}
.rounded-pane{
	-fx-border-radius: 15px;
}
.date-picker:editable > .arrow-button > * {
    -fx-opacity: 0; /* Set the node in the button to be visible */
}

.date-picker > .arrow-button {
	-fx-background-image: url("../assets/icons/calendar.png");
	-fx-background-repeat: no-repeat;
	-fx-background-position: center center;
	-fx-background-color: #FF6A00;
	-fx-background-size: 18 18;
}