@charset "ISO-8859-1";

.typeLabel{
	display:block;
	margin:5%;
	margin-left:8%;
}

#searchBar{
	border-color: #BDDDC0;
	border-radius: 100px;
	width: 1010px;
	height: 25px;
	
	
}

#searchBtn{
	background-color: #BDDDC0;
	border-radius: 100px;
	width: 115px;
	height: 32px;

}

.search{
	display: inline-block;
	margin-top: 3%;
}

.filters{
	border-right-style:solid;
	border-right-width:2px;
	border-color: #D4CEAB;
	vertical-align:top;
	display: inline-block;
	width:20%;
	height:720px;	
	margin-top: 5%;
	margin-left:3%;

}
.filtersLabel{
	margin-top:10%; 
	margin-left:5%;
}

.list{
	margin-left:5%;
	background-color:#BDDDC0; 
	border-radius:10px;

}

.catalogue{
	display: inline-block;
	vertical-align:top;
	width:70%;
	margin-left:2%;
	right:0;
}

.items{
	margin-top:3%;
	padding-bottom: 0px;;
	height:700px;
	overflow: auto;
	overflow-x: hidden;
	
}
.items::-webkit-scrollbar {
    display: none;
}

.itemBox{
	padding-top: 2%;
	margin-left:1%;
	vertical-align:top;
	display: inline-block;
	margin-bottom: 5%;
	margin-right:3%;
	height: 290px;
	width: 250px;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; 
	background-color: #FFF1E9;
	border-radius: 12px;
	text-align:center;
	
}

#pageBtn{
	display: inline-block;
}
.page{
	margin-top:10px;
	margin-left:880px;
}
#pageNumber{
	border: none;
	width:30px;
	margin-left:18px;
	background-color: #FFFFFF;
}
