@charset "ISO-8859-1";

.typeLabel{
	display:block;
	margin:5%;
	margin-left:8%;
}

#searchBar{
	border-color: #BDDDC0;
	border-radius: 100px;
	width: 1010px;
	height: 25px;
	font-size: 15pt;
	
}

#searchBtn{
	background-color: #BDDDC0;
	border-radius: 100px;
	width: 115px;
	height: 32px;
	font-size: 12pt;
}

.search{
	display: inline-block;
	margin-top: 3%;
}

.filters{
	vertical-align:top;
	display: inline-block;
	width:20%;
	margin-top: 2%;
	margin-left:3%;

}
.filtersLabel{
	margin-top:10%; 
	margin-left:5%;
}

.catalogue{
	display: inline-block;
	vertical-align:top;
	width:70%;
	position: absolute;
	right: 0;	
}

.items{
	margin-top:3%;
	padding-bottom: 0px;;
	height:700px;
	overflow: auto;
	overflow-x: hidden;
}

.itemBox{
	padding-top: 2%;
	vertical-align:top;
	display: inline-block;
	margin-bottom: 5%;
	margin-right:3%;
	height: 290px;
	width: 250px;
	box-shadow: 8px 8px 5px #c0c0c0;
	background-color: #FFF1E9;
	border-radius: 12px;
	text-align:center;
	font-size: 14pt;
}

#pageBtn{
	display: inline-block;
}
.page{
	margin-top:10px;
	margin-left:880px;
}
#pageNumber{
	border: none;
	width:30px;
	font-size: 16pt;
	margin-left:20px;
	background-color: #FFFFFF;
}
