@charset "ISO-8859-1";

.box{
	display: inline-block;
	vertical-align:top;
	margin: 3%;
	
	margin-top: 5%;
	
}

.imgItem{
	overflow: auto;
	height: 680px;
	width:200px;
	border-style:solid; 
	border-color:#000000; 
	border-width:1px;
	margin-top:30%;

	
}
.itemBox{
	text-align:left;
	height: 720px;
	width: 380px;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; 
	background-color: #FFF1E9;
	border-radius: 12px;
	padding-top: 20px;
	padding-left: 20px;
	padding-right: 20px;
}

.sellerBox{
	text-align:center;
	height: 397px;
	width: 243px;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; 
	background-color: #FFF1E9;
	border-radius: 12px;
	padding-top: 20px;
}

.buyBox{
	text-align:center;
	margin-top: 15%;
	height: 127px;
	width: 243px;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; 
	background-color: #FFF1E9;
	border-radius: 12px;
	padding-top: 20px;
}

#title{

	text-align:center;
	margin-bottom:10px;

}
#sellerLabel{
	
	margin-bottom:10px;
	
}

#overallRatings{
	width : 80%;
	padding: 10%;
}
#overallRatings > img{
	width: 10%;
}

#itemDetailsLabel{
	
	margin-bottom: 20 px;
}

.description{
	text-align:left;

}
#description{
	overflow: auto;
	height: 128px;
	text-align: justify;
	padding-right:10px;
}

#descriptionLabel{
	margin-bottom:10px;
}

#type{
	display: inline-block;
	text-align:center;
	width: 30%;
	background-color: #D7E9E0;
	padding-top:2px;
	color: #5AC02A;
	margin-top: 20px;
	margin-bottom: 20px;
}
#genre{
	display: inline-block;
	text-align:center;
	width: 30%;
	padding-top:2px;
	background-color: #5AC02A;
	border-radius: 12px;
	margin-top: 20px;
	margin-bottom: 20px;
}

#condition{
	display: inline-block;
	text-align:center;
	width: 30%;
	margin-top: 20px;
	margin-bottom: 20px;
}

#detailsItem{
	margin-top:10px;
}

#buybtn{
	margin-top: 10px;
	padding: 5px 40px 5px 40px;
	color: white;
	background-color: #FF6A00;
	border-radius: 12px;
}


