#writeReview{
	width: 1000px;
	margin: 20px auto;
}
#body{
	width: 50%;
	float:left;
}
#metadata{
	width:50%;
	height: 500px;
	float: right;
}
#body > textarea{
	width: 96%;
	margin: 2%;
	height: 200px;
	resize: none;
}
#title{
	width: 48%;
	height: 34px;
	font-size: 16px;
	margin: 0 1%;
	
}
#metadata > *{
	float: right;
	margin: 20px;
	padding: 10px;
	background-color: #FF6A00;
	color: white;
	border: none;
}
#metadata > select{
	width: 70%;
	margin-left: 30%;
}